<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>&copy 2021 Dou Lab. <a href="mailto:douyanmei@westlake.edu.cn">douyanmei@westlake.edu.cn</a></a></p>
              <p>We are a <a href="https://sls.westlake.edu.cn/Our_Faculty/202104/t20210407_9156.shtml">research group</a> of the <a href="https://en.westlake.edu.cn/academics/School_of_Life_Science/About/Overview/">School of Life Sciences at Westlake University</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
<!--		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="">X </a> and <a href=''>Y</a> grants from <a href="">Z</a> <br />
		  - <a href="">x</a>, XXX from <a href="">Y</a>
		</div>   -->
		<div class="col-sm-6">
		  Address: <br />
		  18 Shilongshan St, YunQi Town, <br />
		  Xihu District, 310012, Hangzhou, China<br />
            (<a href="https://www.google.com/maps/place/%E8%A5%BF%E6%B9%96%E5%A4%A7%E5%AD%A6/@30.1361449,120.0764958,16.76z/data=!4m5!3m4!1s0x344b7ec56ca8d61b:0xabc80f84ace11271!8m2!3d30.1339474!4d120.0794882">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
